@inject HttpClient _client

<EditForm Model="@jLocation" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class=" form-group">
            <label>JobLocation: </label>
            <div>
                <InputText @bind-Value="@jLocation.JobLocation" class="form-control" />
                <ValidationMessage For="@(() => jLocation.JobLocation)" />
            </div>
        </div>
        <div class="form-group">
            <label>Postal Code: </label>
            <div>
                <InputText @bind-Value="@jLocation.PostalCode" class="form-control" />
                <ValidationMessage For="@(() => jLocation.PostalCode)" />
            </div>
        </div>

    </fieldset>

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
</EditForm>

@code {

    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public JLocation jLocation { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

   
}
